*.pyc
*.pyo
*.7z
*.dmg
*.log
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.yaml
*.conf
*.ini
.coverage
development.py
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
var/
db.sqlite3
.idea/
ehthumbs.db
Thumbs.db
.settings/
.project
.pydevproject